@model CommentViewModel

<form method="post" asp-action="AddComment">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="Rating" />
    <label asp-for="Text"></label>
    <textarea asp-for="Text" class="form-control"></textarea>
    <div class="py-2 rating-wrapper">
        @for (int i = 0; i < 5; i++)
        {
            <i class="bi bi-star me-2" data-index="@i"></i>
        }
    </div>
    <div class="py-2">
        <button type="submit" class="btn btn-primary">
            Gönder
        </button>
    </div>
</form>

