@model CatalogViewModel
@{
    ViewData["Title"] = "Katalog Güncelleme";
}

<form method="post">
    <partial name="_FieldsPartial" model="Model" />
    <hr />
    <partial name="_FormButtonsPartial" />
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}