@import 'startbootstrap-sb-admin-2-bs5/scss/_variables.scss';
$primary : indigo;
$green : #bcd100;
$border-radius : .7rem;

@import 'startbootstrap-sb-admin-2-bs5/scss/sb-admin-2.scss';

a {
    @extend .text-decoration-none;
}

