<div class="d-flex gap-2">
    <button class="btn btn-primary" type="submit">
        <i class="fa-bible bi-save"></i>
        KAYDET
    </button>
    <a class="btn btn-link" asp-action="Index">İptal</a>
</div>