<div class="d-flex justify-content-end gap-2 p-2 border rounded shadow bg-light mb-3">
    <a class="btn btn-outline-primary" asp-action="Create">
        <i class="fa-bible bi-plus"></i>
        YENİ
    </a>
</div>